@{Layout = null; }

<doctype html>
    <html>
    <body>

        <link href="~/Content/video.css" rel="stylesheet" />
        <video type="video/quicktime" id="bgvid" autoplay loop>
            <source src="~/Content/Why JA-.mp4" type="video/mp4" />
            <source src="~/Content/Why JA-.mp4" type="video/mp4" />
        </video>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="polina">
            <h1><img src="https://triadja.org/wp-content/uploads/2016/07/ja-triad-logo-main.png" width="400" height="145" /></h1>

            @Html.ActionLink("Register to Volunteer", "Create", "Volunteers")
            @Html.ActionLink("Register as Teacher", "Create", "Teachers")

            @*<p><a href="http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video"></a>*@
            <p><font size="4">YOU HAVE THE POWER</font></p>
            <p><font size="4">TO INSPIRE STUDENTS TO</font></p>
            <p><font size="4">SUCCEED!</font></p>

            <p class="serif" align="right"><font size="4">Our mission is to inspire and</font></p>
            <p class="serif" align="right"><font size="4"> prepare young people to</font></p>
            <p class="serif" align="right"><font size="4">succeed in a global economy.</font></p>
            <button>Pause</button>

        </div>
        <meta charset=utf-8 />

        <link rel="stylesheet" href="http://www.jacklmoore.com/colorbox/example1/colorbox.css" />
        <script src="~/Scripts/video.js"> </script>

    </body>
</html>
